<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools"
          package="com.feragusper.imdblite">

    <!--Permissions-->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <!--Application-->
    <application
            android:allowBackup="true"
            android:name=".AndroidApplication"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            tools:ignore="AllowBackup,GoogleAppIndexingWarning">

        <!--Activities-->
        <activity
                android:name="com.feragusper.imdblite.common.navigation.RouteActivity"
                android:noHistory="true"
                android:theme="@style/AppTheme.Translucent">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
                android:name=".movies.android.MoviesActivity"
                android:label="@string/movies_screen_title"/>

    </application>

</manifest>
